@import './base.css';
:root {
  --header-height: 110px;
  --footer-height: 80px;
  --orange: #ec5a13;
  --med-grey: #e6eaee;
  --light-grey: #f4f9fe;
  --beige: #fee9dd;
  --dark-grey: #627c93;
  --light-brown: #89380f;
  --blue: #094170;
}
main {
  margin-top: var(--header-height);
}
.container {
  width: 65.938rem; /* //1055px// */
  margin: 0 auto;
  height: 100%;
}
body {
  font-family: 'nunito sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
