@import './base.css';
:root {
  --orange: #ec5a13;
  --med-grey: #e6eaee;
  --light-grey: #f4f9fe;
  --beige: #fee9dd;
  --dark-grey: #627c93;
  --light-brown: #89380f;
  --blue: #094170;
  --header-height: 110px;
  --footer-height: 80px;
}
.container {
  width: 65.938rem; /* //1055px// */
  margin: 0 auto;
  height: 100%;
}
body {
  font-family: 'nunito sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
